 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *
       
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [27]:
for i in range(6,0,-1):
    print(' '*(6-i)+" *"*i)
for i in range(1,7):
    print(' '*(6-i)+" *"*i)

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [32]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [48]:
k=1
for i in range(1,7):
    for j in range(1,i):
        print(k, end=' ')
        k=k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [50]:
k=15
for i in range(1,7):
    for j in range(1,i):
        print(k,end= ' ')
        k=k-1
    print()

15
14 13
12 11 10
9 8 7 6
5 4 3 2 1

In [67]:
for i in range(3):  #0, 0,1  0,2  
    for j in range(i):
        print(f'i-{i},j-{j}')

i-1,j-0
i-2,j-0
i-2,j-1

checks 
1.if the pattern is incremental use, i=i+1
2.if pattern in form of row column then use two for loops

In [75]:
for i in range(1,7):
    for j in range(1,i):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [59]:
for i in range(5):  #0  0,1  0,2  0,3   0,4    
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
i=0
for j in range(0)
#0
i=0,1
for j in range()

In [63]:
for i in range(1):
    print(i)

0

In [ ]:
0
0 1
0 1 2
0 1 2 3

In [ ]:
1
2
3
4

In [78]:
# pattern is having rows and columns and both of their values are same 
# it is printing star and space
for i in range(5):
    for j in range(5):
        print("*", end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [82]:
#paterrn having 5 rows and incresing  column by 1
#pattern is printing hash and space
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [84]:
for i in range(5):
    for j in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [85]:
for i in range(5):
    for j in range(5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [88]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [89]:
for i in range(5):
    for j in range(i+1):
        print('#',end=' ')
    print()

#
# #
# # #
# # # #
# # # # #

In [90]:
for i in range(5):
    for j in range(5):
        print('#',end=' ')
    print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [ ]:
        # 
      # # 
    # # # 
  # # # # 
# # # # #

In [96]:
n=6
for i in range(n):
    for j in range(n):
        print((i-1),end=' ')
    print()

$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $

In [105]:
for i in range(1,5):
    for j in range(5-i):
        print('*',end=' ')
    print()

* * * *
* * *
* *
*

In [106]:
for i in range(1,5):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [113]:
for i in range(1,5):
    for j in range(5-i):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    print()

        *
      * *
    * * *
  * * * *

In [112]:
for i in range(1,5):
    for j in range(5-i):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    for l in range(i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [117]:
for i in range(1,5):
    for j in range(5-i):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    for l in range(i-1):
        print('*',end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *

In [118]:
for i in range(4, 0, -1):  # Start from 4 and go down to 1
    for j in range(5 - i):  # Print spaces
        print(' ', end=' ')
    for k in range(i):  # Print stars for the left side
        print('*', end=' ')
    for l in range(i - 1):  # Print stars for the right side
        print('*', end=' ')
    print()

  * * * * * * *
    * * * * *
      * * *
        *

In [119]:
for i in range(1,5):
    for j in range(5-i):
        print(' ',end=' ')
    for k in range(i):
        print('*',end=' ')
    for l in range(i-1):
        print('*',end=' ')
    print()
for i in range(3, 0, -1):  # Start from 4 and go down to 1
    for j in range(5 - i):  # Print spaces
        print(' ', end=' ')
    for k in range(i):  # Print stars for the left side
        print('*', end=' ')
    for l in range(i - 1):  # Print stars for the right side
        print('*', end=' ')
    print()

        *
      * * *
    * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [98]:
for i in range(1, n + 1):  # Outer loop for rows
        for j in range(n - i):  # Inner loop for spaces
            print(" ", end=" ")
        for k in range(i):  # Inner loop for stars
            print("*", end=" ")
        print()  # Move to the next line

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [103]:
def right_sided_triangle(n):
    for i in range(1, n + 1):  # Outer loop for rows
        for j in range(i, n):  # Inner loop for spaces
            print(" ", end="")
        for j in range(1, i + 1):  # Inner loop for stars
            print("*", end=" ")
        print()  # Move to the next line

# Example
right_sided_triangle(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [104]:
def right_sided_triangle(n):
    for i in range(1, n + 1):  # Outer loop for rows
        for j in range(i, n):  # Inner loop for spaces
            print(" ", end="")
        for j in range(1, i + 1):  # Inner loop for stars
            print("*", end=" ")
        print()  # Move to the next line

# Example
right_sided_triangle(5)

    *
   * *
  * * *
 * * * *
* * * * *