In [ ]:
s= 'aWESOME is cODING'

In [ ]:
def x(s):
  f=''
  for i in s.split():
    f=i+' '+f
    g=f.swapcase()
  return g

In [ ]:
x('aWESOME is cODING' )

'Coding IS Awesome '

In [ ]:
def reverse_words_order_and_swap_cases(sentence):
    f=''
    for i in sentence.split():
        f=i+' '+f
        g=f.swapcase()
    return g

In [ ]:
reverse_words_order_and_swap_cases('aWESOME is cODING')

'Coding IS Awesome '

In [ ]:
d='samiksha ss gfeaad'
d.split()

['samiksha', 'ss', 'gfeaad']

In [ ]:
def leap_year(x):
  if x%4==0 and x%400==0:
    return True
  if x%4==0 and x%100==0:
    return False
  if x%400==0 and x%100==0:
    return False
  return False

In [ ]:
leap_year(1992)

False

In [ ]:
1992%400

392

In [ ]:
def leap_year(x):
  if x%4==0 and x%400==0 and:
    return True

In [ ]:
(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [ ]:
n = int(input())
arr = map(int, input().split())
g=[]
g.append(arr)
g

5
6

In [ ]:
import numpy as np

In [ ]:
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [ ]:
tuple(arr)

(2,)

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()

1
samiksha 1
samti 32 5 4

In [ ]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()  # Split input into name and scores
    scores = list(map(float, line))  # Convert scores to a list of floats
    student_marks[name] = scores  # Store in dictionary
query_name = input()
average_marks = sum(student_marks[query_name]) / len(student_marks[query_name])
print(f"{average_marks:.2f}")  # Print result rounded to 2 decimal places

3
Alice 78 89 90
Bob 67 76 88
Charlie 92 85 80
Bob
77.00

In [ ]:
n=int(input())
student_marks={}
for _ in range(n):
  name,*line= input().split()
  scores = list(map(float, line))
  student_marks[name]=scores
  print(student_marks)
query=input()
avg_marks=sum(student_marks[query])/len(student_marks[query])
avg_marks

1
Alice 78 89 90
{'Alice': [78.0, 89.0, 90.0]}

In [ ]:
# we need to find the runner up score
number_of_peoples=int(input())
scores=[]
for _ in range(number_of_peoples):
  scores.append(int(input()))
  x=sorted(scores)
  print(x[len(x)-2])

3
1
2
3

[1, 2, 3]

In [ ]:
d=[1, 2, 3,4,2,3,5,6,5]
x=sorted(d)
x[len(x)-2]

5

In [ ]:
arr = map(int, input().split())

[1, 2, 2, 3, 3, 4, 5, 5, 6]

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    scores=[]
    for _ in range(n):
      scores.append(int(input()))
      x=sorted(scores)
    print(x[len(x)-2])

3
1
3
4
3

In [ ]:
n = int(input())
arr = (map(int, input().split()))
scores= list(arr)
x=sorted(set(scores))
print(x[len(x)-2])

5
2 3 6 6 5
5

In [ ]:
# Initialize your list and read in the value of  followed by lines of commands where each command will be of the  types listed above.
# Iterate through each command in order and perform the corresponding operation on your list.

In [ ]:
if __name__ == '__main__':
    N = int(input())  # Read number of commands
    l = []  # Initialize empty list
    for _ in range(N):  # Loop through N commands
        command = input().split()  # Read command and split into parts
        if command[0] == "insert":
            l.insert(int(command[1]), int(command[2]))  # Insert at index
        elif command[0] == "print":
            print(l)  # Print the list
        elif command[0] == "remove":
            l.remove(int(command[1]))  # Remove first occurrence of value
        elif command[0] == "append":
            l.append(int(command[1]))  # Append value to list
        elif command[0] == "sort":
            l.sort()  # Sort list
        elif command[0] == "pop":
            l.pop()  # Remove last element
        elif command[0] == "reverse":
            l.reverse()  # Reverse list

2
append 2
append 4
[2, 4]

In [ ]:
N = int(input())  # Read number of commands
l = []  # Initialize empty list
for _ in range(N):  # Loop through N commands
    command = input().split()  # Read command and split into parts

5
print
append
insert
print
print

In [ ]:
command[0]

'print'

In [ ]:
records=[]
for _ in range(int(input())):
  name = input()
  score = float(input())
  records.append([name,score])
  v=sorted(records,key=lambda x:x[1])
  h=[v[i][1] for i in range(len(v))]
print(h[len(h)-2])

3
chi
20.0
sam
30.0
aam
10.0
20.0

In [ ]:
s=[['sam', 20.0], ['dd', 30.0],['cd',10.0]]
sorted(s,key=lambda x:x[1])

[['cd', 10.0], ['sam', 20.0], ['dd', 30.0]]

In [ ]:
v=[['cd', 10.0], ['sam', 20.0], ['dd', 30.0]]
# d=lambda x:x[1][1]
for i in range(len(v)):
  print(v[i][1])

10.0
20.0
30.0

In [ ]:
[v[i][1] for i in range(len(v))]

[10.0, 20.0, 30.0]

In [ ]:
h=[v[i][1] for i in range(len(v))]

In [ ]:
h[len(h)-2]

20.0

In [ ]:
records=[]
for _ in range(int(input())):
  name = input()
  score = float(input())
  records.append([name,score])
print(sorted(records,key=lambda x:x[1])[1][0])

3

KeyboardInterrupt: Interrupted by user

In [ ]:
records=[]
for _ in range(int(input())):
  name = input()
  score = float(input())
  records.append([name,score])
  records.sort(key=lambda x:x[1])
  first_lowest=records[0][1]
  second_lowest=None
for name,score in records:
  if score>first_lowest:
    second_lowest=score
    break
names=sorted([name for name,score in records if score==second_lowest])
for name in names:
    print(name)

3
chi
10.0
beta
20.0
alpha
20.0
alpha
beta

In [ ]:

c=[['Alice', 20], ['Bob', 30], ['Charlie', 30], ['David', 40], ['Eve', 50], ['Frank', 60]]

In [ ]:
s=int(input())
c=map(int,input().split())
tuple(c)

2
1 2

(1, 2)

In [ ]:
hash(tuple(c))

5740354900026072187

In [ ]:
hash((1,2))

-3550055125485641917

In [ ]:
n = int(input())
integer_list = map(int, input().split())
print(hash(tuple(integer_list)))

2
1 2
-3550055125485641917

In [ ]:
def mutate_string(string, position, character):
    for i in range(len(string)):
        if i==position:
            string[i]==character
    return string
mutate_string('samiksha',3,'f')

'samiksha'

In [ ]:
def mutate_string(string, position, character):
    string=list(string)
    for i in range(len(string)):
        if i==position:
            string[i]=character
    return "".join(string)
mutate_string('samiksha',3,'f')

'samfksha'

In [ ]:
ABCDCDC
CDC

In [ ]:
def count_substring(string, sub_string):
count_substring('ABCDCDC','CDC')

1

In [ ]:
s='ABCDCDC'
c=0
d=[]
for i in range(len(s)):
  for j in range(i+1,len(s)+1):
    d.append(s[i:j])
for j in d:
  if j=='CDC':
    c+=1
c

2

In [ ]:
def count_substring(string, sub_string):
  c=0
  d=[]
  for i in range(len(s)):
    for j in range(i+1,len(s)+1):
     d.append(s[i:j])
  for j in d:
    if j=='CDC':
      c+=1
  return c
count_substring('ABCDCDC','CDC')

2

In [ ]:
d='qA2'
d.isalpha()

False

In [ ]:
width = 20
print('HackerRank'.ljust(width,'-'))

HackerRank----------

In [ ]:
'HackerRank'.center(width,'-')

'-----HackerRank-----'

In [ ]:
width = 20
print('H'.center(width,' '))
print('HH'.center(width,' '))
print('HHH'.center(width,' '))
print('HHHH'.center(width,' '))
print('HHHHH'.center(width,' '))
print('HHHHHH'.center(width,' '))

         H
         HH
        HHH
        HHHH
       HHHHH
       HHHHHH

In [ ]:
def wrap(string, max_width):

    return

In [ ]:
string='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
for i in range(0,len(string)):

SyntaxError: incomplete input (<ipython-input-22-ffc5c0b0a2f7>, line 2)

In [ ]:
string='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
len(string)

26

In [ ]:
temp=0
temp2=4
for i in range(0,len(string)):
  print(string[temp:temp2])
  temp+=4
  temp2+=4

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
def wrap(string, max_width):
    temp=0
    temp2=max_width
    for i in range(0,len(string)):
      print(string[temp:temp2])
      temp+=4
      temp2+=4
    return string

In [ ]:
wrap('ABCDEFGHIJKLIMNOQRSTUVWXYZ',4)

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

'ABCDEFGHIJKLIMNOQRSTUVWXYZ'

In [ ]:
import textwrap
def wrap(string, max_width):
    return "\n".join(textwrap.wrap(string, max_width))
print(wrap("ABCDEFGHIJKLIMNOQRSTUVWXYZ", 4))

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
s='ABCDEFGHIJKLIMNOQRSTUVWXYZ'
print(" ".join(textwrap.wrap(s,4)))

ABCD EFGH IJKL IMNO QRST UVWX YZ

In [ ]:
def wrap(string, max_width):
    return "\n".join(textwrap.wrap(string, max_width))
print(wrap("ABCDEFGHIJKLIMNOQRSTUVWXYZ", 4))

ABCD
EFGH
IJKL
IMNO
QRST
UVWX
YZ

In [ ]:
'HackerRank'.center(width,'-')
'HackerRank'.center(10,'-')

'HackerRank'

In [ ]:
def solve(s):
    return s

In [ ]:
d='vackerrank'
for i in d.split():
  print(i.title())

Vackerrank

In [ ]:
def solve(s):
  return " ".join(i.title() for i in s.split(' '))

In [ ]:
solve('1 W 2 R 3g')

'1 W 2 R 3G'

In [ ]:
return ' '.join(word.capitalize() for word in s.split(' '))

In [ ]:
return ' '.join(word if word.isdigit() else word.capitalize() for word in s.split(' '))

In [ ]:
s = "hello   world  lol"
s.split(' ')

['hello', '', '', 'world', '', 'lol']

In [ ]:
s = "hello   world  lol"
s.split()

['hello', 'world', 'lol']

In [ ]:
from collections import Counter
myList = 'samiksha'
b=(Counter(myList))
b.values()

dict_values([2, 2, 1, 1, 1, 1])

In [ ]:
The first line contains , the number of shoes.
The second line contains the space separated list of all the shoe sizes in the shop.
The third line contains , the number of customers.
The next  lines contain the space separated values of the  desired by the customer and , the price of the shoe

Counter({'s': 2, 'a': 2, 'm': 1, 'i': 1, 'k': 1, 'h': 1})

In [ ]:
3
9,9,8
9 9 9 7
50 50 0 0

In [ ]:
n_shoes=3
n_size=[9,9,8]
n_cust=4

In [ ]:
Print the amount of money earned by.
10
2 3 4 5 6 8 7 6 5 18
6
6 55
6 45
6 55
4 40
18 60
10 50
>>>200

In [ ]:
Customer 1: Purchased size 6 shoe for $55.
Customer 2: Purchased size 6 shoe for $45.
Customer 3: Size 6 no longer available, so no purchase.
Customer 4: Purchased size 4 shoe for $40.
Customer 5: Purchased size 18 shoe for $60.
Customer 6: Size 10 not available, so no purchase.
Total money earned =  xxx

In [ ]:
number_of_shoes=int(input())
shoe_sizes=list(input().split())
number_of_customers=int(input())
v=[]
for j in range(number_of_customers):
  size,price=input().split()
  if size not in shoe_sizes:
    continue
  v.append((size,price))
v

2
1 2 3 4 5
3
2 34
6 11
3 44

[('2', '34'), ('3', '44')]

In [ ]:
shoe_sizes=list(input().split())

1 2 3 4

In [ ]:
dict([('2', '34'), ('3', '44'), ('2', '22')])

{'2': '22', '3': '44'}

In [ ]:
from collections import Counter
myList = [1,1,2,3,4,5,3,2,3,4,2,1,2,3]
print Counter(myList)
Counter({2: 4, 3: 4, 1: 3, 4: 2, 5: 1})
print Counter(myList).items()
[(1, 3), (2, 4), (3, 4), (4, 2), (5, 1)]
print Counter(myList).keys()
[1, 2, 3, 4, 5]
print Counter(myList).values()
[3, 4, 4, 2, 1]

In [ ]:
from collections import Counter
myList = [('10','20'),('10','10'),('30','40')]
Counter(myList)

Counter({('10', '20'): 1, ('10', '10'): 1, ('30', '40'): 1})

In [ ]:
Counter(myList).items()

dict_items([(('10', '20'), 1), (('10', '10'), 1), (('30', '40'), 1)])

In [ ]:
Counter(myList).keys()

dict_keys([('10', '20'), ('10', '10'), ('30', '40')])

In [ ]:
Counter(myList).values()

dict_values([1, 1, 1])

In [ ]:
x = int(input())  #no of sizes
y = Counter(map(int, input().split()))   # sizes
z = int(input())  #custs
total = 0

for i in range(z):
    size, rate = map(int, input().split())
    if y[size]:
      y[size] -= 1
      total += rate
print(total)

10
1 2 3 4 5 6 7 8 9 10
3
2 20
11 30
3 40
60

In [ ]:
y = Counter(map(int, input().split()))

12 2 3 4 2 1 3

In [ ]:
y[3]-=1

In [ ]:
y

Counter({12: 1, 2: 1, 3: 1, 4: 1, 1: 1})

In [ ]:
Counter([1,2,3,4,3,1,4])

Counter({1: 2, 2: 1, 3: 2, 4: 2})

In [ ]:
y = Counter(map(int, input().split()))

3

In [ ]:
y

[1, 2, 3]

In [ ]:
The first line contains , the number of shoes.
The second line contains the space separated list of all the shoe sizes in the shop.
The third line contains , the number of customers.
The next  lines contain the space separated values of the  desired by the customer and , the price of the shoe

In [ ]:
n_shoes=int(input())
y= Counter(map(int, input().split()))
n_cust=int(input())
for i in range(n_cust):
  size,price=map(int, input().split())
  print(y[size])

3
1 2 3
3
1 20
1
2 30
1
3 30
1

In [ ]:
y

Counter({1: 1, 2: 1, 3: 1})

In [ ]:
size

10

In [ ]:
price

4

In [ ]:
Shoes_n = 3
Size = [8,8,7]
Cust_n = 4
Earning = 0
for customer in range(Cust_n):
  custmerwantsize = input()
  custimerpayingproceforit = input()
  if custmerwantsize in Size :
    Size.remove(custmerwantsize)
    Earning  += custimerpayingproceforit
  else :
   Earning +=0
Earning

2
22
8
33
8
33
7
22

0

In [ ]:
Shoes_n = 3
Size = [8, 8, 7]
Cust_n = 4
Earning = 0

for customer in range(Cust_n):
    customer_want_size = int(input())  # Convert input to int
    customer_paying_price = int(input())  # Convert input to int

    if customer_want_size in Size:
        Size.remove(customer_want_size)  # Use remove instead of pop for specific value
        Earning += customer_paying_price

print(Earning)  # Print final earnings

2
33
8
22
8
11
7
43
76

In [ ]:
from itertools import product
list(product([1,2,3],repeat = 2))

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [ ]:
c=[[1,2,3],[3,4]]
list(product([1,2,3],[3,4]))

[(1, 3), (1, 4), (2, 3), (2, 4), (3, 3), (3, 4)]

In [ ]:
list(product(*c))

[(1, 3), (1, 4), (2, 3), (2, 4), (3, 3), (3, 4)]

In [ ]:
A = [[1,2,3],[3,4,5]]
list(product(*A))

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]

In [ ]:
B = [[1,2,3],[3,4,5],[7,8]]
list(product(*B))

[(1, 3, 7),
 (1, 3, 8),
 (1, 4, 7),
 (1, 4, 8),
 (1, 5, 7),
 (1, 5, 8),
 (2, 3, 7),
 (2, 3, 8),
 (2, 4, 7),
 (2, 4, 8),
 (2, 5, 7),
 (2, 5, 8),
 (3, 3, 7),
 (3, 3, 8),
 (3, 4, 7),
 (3, 4, 8),
 (3, 5, 7),
 (3, 5, 8)]

In [ ]:
A = [1, 2]
B = [3, 4]

In [ ]:
AxB = [(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
from itertools import product

In [ ]:
A = input().split()
B = [3, 4]
AxB= list(product(A,B))

In [ ]:
AxB

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
tuple(AxB)

((1, 3), (1, 4), (2, 3), (2, 4))

In [ ]:
D=list(product([1],[3,2]))

In [ ]:
D

[(1, 3), (1, 2)]

In [ ]:
(1, 3) (1, 4) (2, 3) (2, 4)

<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<ipython-input-47-22177aee8e4e>:1: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  (1, 3) (1, 4) (2, 3) (2, 4)

TypeError: 'tuple' object is not callable

In [ ]:
A = [1, 2]
B = [3, 4]
c=''
C= list(product(A,B))
for i in range(len(C)):
  c+=str(C[i])+' '
str(c)

'(1, 3) (1, 4) (2, 3) (2, 4) '

In [ ]:
A = list(map(int, input().split()))
B = list(map(int, input().split()))
c=''
C= list(product(A,B))
for i in range(len(C)):
    c+=str(C[i])+' '
print(str(c))

1 2
3 4
(1, 3) (1, 4) (2, 3) (2, 4)

In [ ]:
result = [(1, 3), (1, 4), (2, 3), (2, 4)]
output = " ".join(str(t) for t in result)
output

'(1, 3) (1, 4) (2, 3) (2, 4)'

In [ ]:
list(permutations(['1','2','3']))

[('1', '2', '3'),
 ('1', '3', '2'),
 ('2', '1', '3'),
 ('2', '3', '1'),
 ('3', '1', '2'),
 ('3', '2', '1')]

In [ ]:
list(permutations(['1','2','3'],3))

[('1', '2', '3'),
 ('1', '3', '2'),
 ('2', '1', '3'),
 ('2', '3', '1'),
 ('3', '1', '2'),
 ('3', '2', '1')]

In [ ]:
list(permutations('abc',3))

[('a', 'b', 'c'),
 ('a', 'c', 'b'),
 ('b', 'a', 'c'),
 ('b', 'c', 'a'),
 ('c', 'a', 'b'),
 ('c', 'b', 'a')]

In [ ]:
string,integer=input().split()

hack 2

In [ ]:
string=sorted(string.upper())
integer=int(integer)
integer

2

In [ ]:
v=(list(permutations(string,integer)))

In [ ]:
v

[('A', 'C'),
 ('A', 'H'),
 ('A', 'K'),
 ('C', 'A'),
 ('C', 'H'),
 ('C', 'K'),
 ('H', 'A'),
 ('H', 'C'),
 ('H', 'K'),
 ('K', 'A'),
 ('K', 'C'),
 ('K', 'H')]

In [ ]:
for i in v:
  for j in i:
    print("".join(j for j in i))
    break

AC
AH
AK
CA
CH
CK
HA
HC
HK
KA
KC
KH

In [ ]:
set('HackerRank')

{'H', 'R', 'a', 'c', 'e', 'k', 'n', 'r'}

In [ ]:
set([1,2,1,2,3,4,5,6,0,9,12,22,3])

{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}

In [ ]:
set((1,2,3,4,5,5))

{1, 2, 3, 4, 5}

In [ ]:
set(set(['H','a','c','k','e','r','r','a','n','k']))

{'H', 'a', 'c', 'e', 'k', 'n', 'r'}

In [ ]:
set({'Hacker' : 'DOSHI', 'Rank' : 616 })

{'Hacker', 'Rank'}

In [ ]:
set(enumerate(['H','a','c','k','e','r','r','a','n','k']))

{(0, 'H'),
 (1, 'a'),
 (2, 'c'),
 (3, 'k'),
 (4, 'e'),
 (5, 'r'),
 (6, 'r'),
 (7, 'a'),
 (8, 'n'),
 (9, 'k')}

In [ ]:
s=list(map(int,input().split()))

1 2 3 4

In [ ]:
arr=int(input())
s=list(map(int,input().split()))

10
161 182 161 154 176 170 167 171 170 174

In [ ]:
v=sum(s)/arr

In [ ]:
v

168.6

In [ ]:
161 182 161 154 176 170 167 171 170 174

In [ ]:
def average(array):
    s=list(map(int,input().split()))
    v=sum(s)/array
    return v
average(10)

161 182 161 154 176 170 167 171 170 174

168.6