In [12]:
for i in range(5):    #0         1       2        3           4
  for j in range(1):  #01234   01234   01234    01234      01234
    print(i,j)

0 0
1 0
2 0
3 0
4 0

In [11]:
for i in range(5):    #0         1       2        3           4
  for j in range(2):  #01234   01234   01234    01234      01234
    print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [13]:
for i in range(5):    #0         1       2        3           4
  for j in range(3):  #01234   01234   01234    01234      01234
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [14]:
for i in range(5):    #0         1       2        3           4
  for j in range(4):  #01234   01234   01234    01234      01234
    print(i,j)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [10]:
for i in range(5):    #0         1       2        3           4
  for j in range(5):  #01234   01234   01234    01234      01234
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [45]:
for i in range(5):       #  1  2   3    4
  for j in range(i):     #  0  01  012  0123
    print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2
4 0
4 1
4 2
4 3

In [ ]:
for i in range(5):    #0         1       2        3           4
  for j in range(i):  #01234   01234   01234    01234      01234
    print(i,j)

In [16]:
for i in range(1):
  for j in range(5):
    print(i,j)

0 0
0 1
0 2
0 3
0 4

In [17]:
for i in range(2):
  for j in range(5):
    print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4

In [19]:
for i in range(3):
  for j in range(3):
    print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [20]:
for i in range(5):
  for j in range(1):
    print(i,j)

0 0
1 0
2 0
3 0
4 0

In [ ]:
for i in range(5):    #0         1       2        3           4
  for j in range(5):  #01234   01234   01234    01234      01234
    print(i,j)

In [8]:
for i in range(5):
  for j in range(1):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
  for i in range(3):
    print(i,j)

In [ ]:
01
02
03
11
12
13
21
22
23
31
32
33
41
42
43

In [27]:
for i in range(5):
  for j in range(5):
    print('#',end=' ')
  print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [31]:
for i in range(5):
  print(' #'*5)

 # # # # #
 # # # # #
 # # # # #
 # # # # #
 # # # # #

In [ ]:
#
# #
# # #
# # # #
# # # # #

In [35]:
for i in range(1,6):
  for j in range(1):
    print(' #'*i)

 #
 # #
 # # #
 # # # #
 # # # # #

In [47]:
for i in range(6):
  for j in range(i):
    print(j)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4

In [36]:
# 0
# 0 1
# 0 1 2
# 0 1 2 3
# 0 1 2 3 4

In [55]:
for i in range(1,6):      #0 1 2 3 4 5
  for j in range(i):
    print(j,end=' ')
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [58]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

In [64]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# 1
# 2 3
# 4 5 6
# 7 8 9 10

In [76]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [101]:
k=0
for i in range(5):
  for j in range(1,i+1):
    print(j,end=' ')
    #k+=1
  print()

1
1 2
1 2 3
1 2 3 4

In [104]:
k=1
for i in range(1,5):
  for j in range(i):
    print(k,end=' ')
    k+=1
  print()

1
2 3
4 5 6
7 8 9 10

In [106]:
# A A A A A
# A A A A A
# A A A A A
# A A A A A
# A A A A A

for i in range(5):
  for j in range(5):
    print('A',end=' ')
  print()

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *

In [107]:
for i in range(5,0,-1):
  for j in range(i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [125]:
for i in range(1,6):
  for j in range(6-i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [126]:
n= 6
for i in range(1,n):
  for j in range(n-i):
    print("*",end= ' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [127]:
for i in range(1,6):      #0 1 2 3 4 5
  for j in range(i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *
# *
# * *
# * * *
# * * * *
# * * * * *

In [132]:
n= 6
for i in range(1,n):
  for j in range(n-i):
    print("*",end= ' ')
  print()
for i in range(1,6):      #0 1 2 3 4 5
  for j in range(i):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [170]:
n= 6
for i in range(1,n):
  for j in range(i):
    print("*",end= ' ')
  print()

*
* *
* * *
* * * *
* * * * *

In [173]:
1 *
2 *
2 *
3 *
3 *
3 *
4 *
4 *
4 *
4 *

In [215]:
for i in range(5):
  for j in range(i):
    print(i,'*',end=' ')
  print()

1 *
2 * 2 *
3 * 3 * 3 *
4 * 4 * 4 * 4 *

In [225]:
for i in range(5):
  for j in range(5-i):
    print(' ',end=' ')
  print('hi'*i)

        hi
      hihi
    hihihi
  hihihihi

In [219]:
for i in range(5):
  for j in range(5-i):
    print(i,'*')
  #print()

0 *
0 *
0 *
0 *
0 *
1 *
1 *
1 *
1 *
2 *
2 *
2 *
3 *
3 *
4 *

In [176]:
for i in range(5):
  for j in range(i):
    print(i,'*',end=' ')
  print()

1 *
2 * 2 *
3 * 3 * 3 *
4 * 4 * 4 * 4 *

In [179]:
for i in range(5,0,-1):
  for j in range(i):
    print("*",end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [207]:
for i in range(1,5):
  for j in range(5-i):
    print("*",end=' ')
  print()

* * * *
* * *
* *
*

In [208]:
for i in range(5):
  for j in range(5-i):
    print('*',end=' ')

  print()

* * * * *
* * * *
* * *
* *
*

In [243]:
for i in range(1,6):
  for j in range(6-i):
    print(' ',end=' ')
  print(' *'*i)

           *
         * *
       * * *
     * * * *
   * * * * *

In [ ]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

In [244]:
for i in range(6,0,-1):
  for j in range(6-i):
    print(' ',end=' ')
  print(' *'*i)

 * * * * * *
   * * * * *
     * * * *
       * * *
         * *
           *

In [260]:
for i in range(1,6):
  for j in range(6-i):
    print('',end=' ')
  print(' *'*i)

      *
     * *
    * * *
   * * * *
  * * * * *

In [255]:
for i in range(6,0,-1):
  for j in range(6-i):
    print('',end=' ')
  print(' *'*i)

 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [279]:
for i in range(1,7):
  for j in range(7-i):
    print('',end=' ')
  print(' *'*i)
for i in range(7,0,-1):
  for j in range(7-i):
    print('',end=' ')
  print(' *'*i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [260]:
# P
# P y
# P y t
# P y t h
# P y t h o
# P y t h o n

In [264]:
x='python'
for i in range(len(x)):
  for j in range(i+1):
    print(x[i],end=' ')
  print()

p
y y
t t t
h h h h
o o o o o
n n n n n n

In [265]:
x='python'
for i in range(len(x)):
  for j in range(i+1):
    print(x[j],end=' ')
  print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [ ]:
# 6 6 6 6 6 6
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3
# 2 2
# 1

In [272]:
for i in range(6,0,-1):
  for j in range(i):
    print(i,end=' ')
  print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [274]:
for i in range(5):
  for j in range(i):
    print('*',end=' ')
  print()
for i in range(5):
  for j in range(5-i):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*